.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* cards */
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.MuiGrid-item.MuiGrid-justify-xs-center.MuiGrid-grid-xs-6{
  margin: auto;
}

.MuiBottomNavigation-root.makeStyles-root-233 {
  background-color: blue;
  width: 100%
}

/* header */
h1, h2 {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
